.drs-knight-image {
  position: absolute;
  height: 100px;
  z-index: 998;
  top: 0px;
  left: 0px;
}

.drs-knight-steps {
  top: 35px;
  left: 25px;
  color: red;
  font-weight: bold;
  font-size: 28pt;
}

.drs-dots {
  position: absolute;
  z-index: 999;
  top: 25px;
  left: 5px;
}
