<div
  *ngIf="this.tile"
  [ngStyle]="{
    'background-color': this.color,
    'border-color': this.color
  }"
  class="tile-div"
  (click)="this.onClick()"
>
  <div *ngIf="this.hasPlayer" class="tile-player">
    <drs-dots
      class="drs-dots"
      *ngIf="this.player.remainingSteps > 0"
      [dotCount]="this.player.remainingSteps"
    ></drs-dots>
    <img
      class="drs-wol-image"
      [src]="this.player.failed ? 'assets/RedSlime.png' : 'assets/WoL.PNG'"
    />
  </div>
  <div
    class="tile-row-explosion"
    [ngClass]="this.tile.explodingRow ? 'visible' : ''"
  ></div>
  <div
    class="tile-col-explosion"
    [ngClass]="this.tile.explodingCol ? 'visible' : ''"
  ></div>
</div>
