.tile-div {
  height: 152px;
  width: 152px;
  max-height: 152px;
  max-width: 152px;
  display: table-cell;
}

.board {
  display: table;
  border: 1px solid darkgray;

  position: relative;
  margin-top: 90px;
  margin-left: 90px;
}

.drs-knight {
  position: absolute;
}

.animate {
  -webkit-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

.drs-sidepane {
  position: absolute;
  top: 20px;
  left: 1000px;
}
